{{template "header" .}}
<div class="px-6">
    <h1 class="text-4xl py-4 semibold tracking-tight">Contact Page</h1>
    <p>To contact me send an email to <a class="underline" href="mailto:djordje.tepa@gmail.com">djordje.tepa@gmail.com</a>.</p>
</div>
{{template "footer" .}}